*{
    user-select: none;
    font-family: monospace;
}

body{
    color: #cdd6f4;
    background-color: #1e1e2e;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    padding-top: 1px;
}

header h1{
    font-size: 50px;    
}

.game-info{
    margin: 0;
}

.game-info h2{
    font-size: 24px;
}

.game-info h3{
    margin-bottom: 0;
    font-size: 24px;
}

.playerX{
    color: #91d7e3;
}

.playerO{
    color: #a6e3a1;
}

.game-progress{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* only 3x3 normal game */
/* .game-grid{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    height: 350px;
    width: 350px;
} */

.game-grid{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    /* display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; */
    
}

.boardRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell{
    display: flex;
    border: 2px solid black;
    background-color: #45475a;
    font-size: 40px;
    min-width: 70px;
    min-height: 70px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grid-cell:hover{
    background-color: #b4befe;
    color: #11111b;
}

.winningCell{
    background-color: #ed8796;
    /* color: #11111b; */
}

.game-menu{
    /* margin-top: 4%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
}


.game-menu button, select, option{
    cursor: pointer;
    background-color: #b4befe;
    color: #11111b;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 15px;

}

.game-menu button:hover{
    background-color: #8aadf4;
    /* padding: 8px 18px; */
}

.boardSize{
    margin-bottom: 20px;
}



/* responsive part */
@media screen and (max-width: 350px){
    .game-grid{
        width: 240px;
        height: 240px;
    }
    .grid-cell{
        min-width: 40px;
        min-height: 40px;
    }
    .game-menu{
        width: 200px;
    }
    .game-menu button, select, option{
        font-size: 12px;
    }

}

@media screen and (min-width: 900px) {
    .game-grid{
        width: 480px;
        height: 480px;
    }
    .grid-cell{
        min-width: 100px;
        min-height: 100px;
    }
    .game-menu{
        width: 480px;
    }
    .game-menu button, select, option{
        font-size: 24px;
        /* padding: 5px 15px; */
    
    }
    
}